.contactimg{
    width: 100%;
    height: 45vh;
    object-fit: cover;
    margin-top: 1%;
    opacity: 90%;
}
.contactp{
    position: absolute;
    font-size: 64px;
    top: 32%;
    left: 39%;
    color: #ffffff;
}
.cp{
    padding: 3.5%;
    border: 2px solid #c98c31;
    margin-left: 5%;
    margin-right: 4%;
    margin-top: 4%;
    text-align: center;
    font-size: 30px;
    font-weight: 550;
}
.cspan{
    color:#ef2831;
}
.cimgdiv{
    display: flex;
    justify-content: center;
    margin-top: 2%;
}
.opening{
    /* font-size: 25px; */
}
.opendiv{
    text-align: center;
    margin-top: 2%;
    font-size: 23px;
}

@media (max-width: 430px) {
    .contactp{
        font-size: 25px;
        top: 27%;
    left: 35%;
    }
    .contactimg{
    height: 30vh;
    }
    .cp{
        font-size: 24px;
    }
}

@media (max-width: 940px) {
    .contactp{
        font-size: 40px;
        top: 31%;
    left: 35%;
    }
}